@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@400;700&display=swap');

/* general styles */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #71717A;
    font-family: "Roboto Condensed";
  }

  main {
    flex: 1 0 auto;
  }

nav {
    background-color: #fff;
    height: 75px;
    box-shadow: none;
}

nav ul a, i{
    color: #71717A;
    text-transform: uppercase;
}

h1 {
    font-family: "Lobster";
    text-transform: lowercase;
    font-size: 100%;
    margin: 10px;
    color: #31625c;
}

h2 {
    color: #9e8464;
    text-transform: uppercase;
    text-align: center;
    font-size: 90%;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

h5 {
    text-transform: uppercase;
    font-size: 130%;
}

.btn-large {
    background-color: #31625c;
}

/* footer */
.page-footer {
    background-color: #a22843;
}

#social-media-links {
    display: flex;
}

#social-media-links i {
    color: #fff;
    font-size: 150%;
    margin: 0 20px 0 0;
}

#newsletter_email {
    border-radius: 3px 3px;
    background: #fff;
}

/* home page */
#hero_image {
    background: url(../images/hero_image.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;

}

.message {
    text-align: center;
}


/* recipes */
.select-wrapper input.select-dropdown, ::placeholder {
    color: #9e9e9e;
    font-family: 'Roboto Condensed';
}

.card .card-content p {
    margin: 15px 0;
}

span {
    margin: 0 20px;
}

.content-container {
    margin: 25px 0;
}

.recipe_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-plus {
    background-color: #31625c;
}

/* media queries */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 80%;
        text-align: center;
    }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 130%;
        text-align: center;
    }
    h2 {
        font-size: 150%;
    }
    #hero_image {
        height: 350px;
    }
    #newsletter_email {
        width: 75%
    }
    
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 150%;
    }
    h2 {
        font-size: 200%;
    }
    #hero_image {
        height: 400px;
    }
    #newsletter_email {
        width: 50%;
    }
    
}