@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500&display=swap');

nav {
    background-color: #fff;
    height: 75px;
    box-shadow: none;
}

nav ul a, i{
    color: #71717A;
    text-transform: uppercase;
}

h1 {
    font-family: "Lobster";
    text-transform: lowercase;
    font-size: 100%;
    margin: 10px;
    color: #066274;
}

h2 {
    font-family: "Montserrat";
    color: #9e8464;
    text-transform: uppercase;
    text-align: center;
    font-size: 120%;
}

h5 {
    text-transform: uppercase;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #71717A;
  }

  main {
    flex: 1 0 auto;
  }

.page-footer {
    background-color: #9CBEA3;
}

.form-input {
    border-radius: 3px 3px;
}

input {
    background-color: #fff;
}