{% extends "base.html" %}
{% block content %}
<h3>Create Recipe</h3>
<div class="row">
    <form class="col s12 l8 offset-l2" method="POST" action="{{ url_for('create_recipe')}}">
        <div class="row">
            <!-- recipe title -->
            <div class="input-field col s12">
                <i class="prefix"></i>
                <input id="recipe_title" name="recipe_title" type="text" class="validate">
                <label for="recipe_title">Recipe Title</label>
            </div>
            <!-- recipe image -->
            <div class="input-field col s12">
                <i class="prefix"></i>
                <input id="image_url" name="image_url" type="text" placeholder="Optional" class="validate">
                <label for="image_url">Upload image url</label>
            </div>
        </div>
        <!-- recipe category -->
        <div class="row">
            <div class="input-field col s12">
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Select</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
        </div>
        <!-- what allergens recipe is free from -->
        <div class="row">
            <div class="input-field col s12">
                <select multiple id="allergen_name" name="allergen_name" class="validate" required>
                    <option value="" disabled selected>Select</option>
                    {% for allergen in allergens %}
                    <option value="{{ allergen.allergen_name }}">{{ allergen.allergen_name }}</option>
                    {% endfor %}
                <label for="allergen_name">Free From</label>
            </div>
        </div>
        <!-- number of servings -->
        <div class="row">
            <div class="input-field col s12">
                <i class="prefix"></i>
                <input id="servings" name="servings" type="text" class="validate">
                <label for="icon_telephone">Servings</label>
            </div>
        </div>
        <!-- recipe prep and cook time -->
        <div class="row">
            <div class="input-field col s6">
                <i class="prefix"></i>
                <input id="prep_time" name="prep_time" type="text" class="validate">
                <label for="prep_time">Prep Time</label>
            </div>
            <div class="input-field col s6">
                <i class="prefix"></i>
                <input id="cook_time" name="cook_time" type="text" class="validate">
                <label for="cook_time">Cook Time</label>
            </div>
        </div>
        <!-- recipe description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="prefix"></i>
                <input id="recipe_description" name="recipe_description" type="text" class="validate">
                <label for="recipe_description">Description</label>
            </div>
        </div>
        <!--used from Wanderlust Recipes full details in README -->
        <!-- add ingredients -->
        <div class="row">
            <div class="col s12">
                <h6>Ingredients</h6>
            </div>
            <div class="col s12">
                <ul id="ingredients" class="collection validate">
                    <li class="collection-item">
                        <a class="btn-floating btn-small waves-effect waves-light add-ingredient-list-item">
                            <i class="fas fa-plus"></i>
                            <span class="sr-only">Add Ingredient</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- add method -->
        <div class="row">
            <div class="col s12">
                <h6>Method</h6>
            </div>
            <div class="col s12">
                <ul id="method_step" class="collection validate">
                    <li class="collection-item">
                        <a class="btn-floating btn-small waves-effect waves-light add-method-step-item">
                            <i class="fas fa-plus"></i>
                            <span class="sr-only">Add Method Step</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--End of Wanderlust code -->
        <!-- recipe rating -->
        <div class="row">
            <div class="input-field col s12">
                <i class="prefix"></i>
                <input id="rating" name="rating" type="text" class="validate">
                <label for="rating">Rating</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn large">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock%}