{% extends "base.html" %}
{% block content %}
<h3>Edit Recipe</h3>
<div class="row">
    <form class="col s12 l8 offset-l2" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id)}}">
        <!-- recipe title -->
        <div class="row">
            <div class="input-field col s12">
                <input id="recipe_title" name="recipe_title" type="text" value="{{ recipe.recipe_title }}" minlength="5" maxlength="50" class="validate" pattern="^[A-Za-z0-9][A-Za-z0-9_ ]*$" required>
                <label for="recipe_title">Recipe Title</label>
            </div>
        </div>
        
        <div class="row">
            <!-- recipe image -->
            <div class="input-field col s8">
                <!-- regex pattern taken from https://stackoverflow.com/questions/169625/regex-to-check-if-valid-url-that-ends-in-jpg-png-or-gif/169631 -->
                <input id="image_url" name="image_url" type="text"  value="{{ recipe.image_url }}" placeholder="Optional" class="validate" pattern="^https?://(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jpg|gif|png)$">
                <label for="image_url">Upload image url</label>
            </div>
            <!-- number of servings -->
            <div class="input-field col s4">
                <input id="servings" name="servings" type="text" value="{{ recipe.servings }}" minlength="1" maxlength="20" class="validate" required>
                <label for="servings">Servings</label>
            </div>
        </div>
        <!-- recipe category -->
        <div class="row">
            <div class="input-field col s6">
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Select</option>
                    {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
            <div class="input-field col s6">
                <select multiple id="allergen_list" name="allergen_list" class="validate" required>
                    <option value="" disabled>Select</option>
                    {% for allergen in allergens %}
                            <option value="{{ allergen.allergen_name }}">{{ allergen.allergen_name }}</option>
                    {% endfor %}
                </select>
                <label for="allergen_list">Free From</label>
            </div>
        </div>
        <!-- recipe prep and cook time -->
        <div class="row">
            <div class="input-field col s6">
                <input id="prep_time" name="prep_time" type="text" value="{{ recipe.prep_time }}" minlength="1" maxlength="5" class="validate" pattern="^[0-9]*$" required>
                <label for="prep_time">Prep Time</label>
                <p>Time in minutes</p>
            </div>
            <div class="input-field col s6">
                <input id="cook_time" name="cook_time" type="text" value="{{ recipe.cook_time }}" minlength="1" maxlength="5" class="validate" pattern="^[0-9]*$"  required>
                <label for="cook_time">Cook Time</label>
            </div>
        </div>
        <!-- recipe description -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="recipe_description" name="recipe_description" type="text" minlength="10" maxlength="250"
                    pattern="^[A-Za-z][A-Za-z]*$" class="validate" required>
                {{- recipe.recipe_description -}}
                </textarea>
                <label for="recipe_description">Description</label>
                <p>Between 10 and 250 characters</p>
            </div>
        </div>
        <!--used from Wanderlust Recipes full details in README -->
        <!-- edit ingredients -->
        <div class="row">
            <div class="col s12">
                <h6>Ingredients</h6>
            </div>
            <div class="col s12">
                <ul id="ingredients" class="collection validate">
                    {% for ingredient in recipe.ingredients %}
                    <li class="collection-item">
                        <div class="input-field">
                            <input name="ingredients" type="text" maxlength="100" required value="{{ ingredient }}"
                                pattern="^[A-Za-z0-9 ]*[A-Za-z0-9][A-Za-z0-9 ]*$">
                        </div>
                        <a class="remove-list-item">
                            <i class="fas fa-times"></i>
                            <span class="sr-only">Remove Ingredient</span>
                        </a>
                    </li>
                    {% endfor %}
                    <li class="collection-item">
                        <a class="btn-floating btn-small waves-effect waves-light add-ingredient-list-item">
                            <i class="fas fa-plus"></i>
                            <span class="sr-only">Add Ingredient</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- edit method -->
        <div class="row">
            <div class="col s12">
                <h6>Method</h6>
            </div>
            <div class="col s12">
                <ul id="method_step" class="collection validate">
                    {% for step in recipe.method_step %}
                    <li class="collection-item">
                        <a class="remove-list-item">
                            <i class="fas fa-times"></i>
                            <span class="sr-only">Add Method Step</span>
                        </a>
                        <div class="input-field">
                            <textarea name="method_step" class="materialize-textarea" required="" spellcheck="false"
                                style="height: 43px;" required>{{- step -}}</textarea>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="collection-item">
                        <a class="btn-floating btn-small waves-effect waves-light add-method-step-item">
                            <i class="fas fa-plus"></i>
                            <span class="sr-only">Add Ingredient</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--End of Wanderlust code -->
        <!-- edit recipe button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('saved_recipes') }}" class="btn-large red">Cancel</a>
                <button type="submit" class="btn large">
                    Edit Recipe
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock%}