{% extends "base.html" %}
{% block content %}

<!-- Hero image -->
<div class="row" id="hero_image">
</div>

<div class="container">
    <div class="row">
        <!-- Welcome message -->
        <div class="col s12 center-align">
            <h2 id="home-title">Making free from cooking part of everyday life</h2>
        </div>
        <div class="col s12">
            <p class="center-align">Do you have a food intollerance? Or perhaps a friend or family member does?
                Or maybe you are exploring?<br>
                The FreeFrom CookBook is here to cater for all your allergen dietary needs. <br>
                <br>
                We want to help myth-bust that allergen free food can be just as fragrant, delicious
                and mouth-watering, whilst keeping everyone safe.<br>
                Happy cooking!
            </p>
        </div>
    </div>
</div>

{% endblock %}
