{% extends "base.html" %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2>Making free from cooking part of everyday life</h2>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    Insert image
                </div>
                <div class="col s12 m6">
                    insert welcome message

                </div>
            </div>
        </div>
    {% endblock %}
