{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">Profile </h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6 center-align">
            <h5>Welcome {{ username }}</h5>
            <p>Check out your saved ingredients, favourites recipes and recipes you have created. <br>
            Happy cooking!</p>
            <div>
                <a href="{{ url_for('create_recipe') }}" class="btn profile-btns">Create Recipe</a>
            </div>
            <div>
                <a href="{{ url_for('get_recipes') }}" class="btn profile-btns">Find more recipes</a>
            </div>
            
        </div>
        <div class="col s12 l6">
            <div class="col s12">
                <h3 class="center-align">Shopping List</h3>
                <hr>
            </div>
            <div class="card-panel">
                    <form action="{{ url_for('remove_shopping_list', username=username) }}" method="POST">
                        <ul id="shopping_list">
                            {% for list in shopping_list %}
                            {% for ingredient in list %}
                            <li class="collection-item">
                                <label>
                                    <input type="checkbox" class="filled-in" value="{{ ingredient }}" name="shopping_list">
                                    <span>{{ ingredient }}</span>
                                </label>
                            </li>
                            {% endfor %}
                            {% endfor %}
                        </ul>

                        <div class="center-align">
                            <button type="submit" class="btn red">Delete</button>
                        </div>
                    </form>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">Recipes</h3>
            <hr>
        </div>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#test1" class="active">Created <i class="fa-solid fa-circle-plus"></i></a></li>
                <li class="tab col s3"><a href="#test2">Favourites <i class="fa-solid fa-heart"></i></a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">
            {% if recipes|length > 0 %}
            <div class="row">
                {% for recipe in recipes %}
                <div class="col s12 m6 l4">
                    {% if loop.index / 4 %}
                    <div class="card">
                        <div class="card-image">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                {% if recipe.image_url %}
                                <img src="{{ recipe.image_url }}">
                                {% else %}
                                <img src="{{ url_for('static', filename='/images/recipe_image.jpg') }}"
                                    alt="Image of ingredients" class="recipe_img">
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="col s12">
                                <h5 class="recipe_card_title">{{ recipe.recipe_title}}</h5>
                                <hr>
                                <p>{{ recipe.recipe_description }}</p>
                            </div>
                            <div class="col s12">
                                <p>
                                    <i class="fas fa-clock"></i> Cook: {{ recipe.cook_time }} mins
                                </p>
                                <p>
                                    <i class="fas fa-utensils"></i> Serves: {{ recipe.servings }}
                                </p>
                                <h6><strong>Created By:</strong> {{ recipe.created_by }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% else %}
            <div>
                <h2>No recipes created yet</h2>
                <div>
                    <a href="{{ url_for('create_recipe') }}" class="btn profile-btns">Create Recipe</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div id="test2" class="col s12">
            {% if favourites|length > 0 %}
                <div class="row">
                    {% for favourite in favourites %}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                                <a href="{{ url_for('view_recipe', recipe_id=favourite._id) }}">
                                    <img src="{{ favourite.image_url }}">
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="col s12">
                                    <h5 class="recipe_card_title">{{ favourite.recipe_title}}</h5>
                                    <hr>
                                    <p>{{ favourite.recipe_description }}</p>
                                </div>
                                <div class="col s12">
                                    <p>
                                        <i class="fas fa-clock"></i> Cook: {{ favourite.cook_time }} mins
                                    </p>
                                    <p>
                                        <i class="fas fa-utensils"></i> Serves: {{ favourite.servings }}
                                    </p>
                                    <h6><strong>Created By:</strong> {{ favourite.created_by }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                {% else %}
                <div>
                    <h2>No recipes saved yet</h2>
                    <div>
                        <a href="{{ url_for('create_recipe') }}" class="btn profile-btns">Create Recipe</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
</div>



{% endblock %}