{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!--username-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <!--first name-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="first-name" name="first-name" type="text" class="validate">
                        <label for="first-name">First Name</label>
                    </div>
                </div>
                <!--surname-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="surname" name="surname" type="text" class="validate">
                        <label for="surname">Surname</label>
                    </div>
                </div>
                <!--email-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="text" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <!--password-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!--confirm password-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="confirm-password" name="confirm-password" type="password" class="validate">
                        <label for="confirm-password">Confirm password</label>
                    </div>
                </div>
                <!--register-->
                <div class="row">
                    <button type="submit" class="col s12 btn-large">
                        Register 
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}