{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">{{ recipe.recipe_title }}</h2>
            <hr>
        </div>
        <div class="col s12 m8 content-container">
             <!--If recipe has an image then displayed-->
            {% if recipe.image_url %}
                <img class="recipe-img" src="{{ recipe.image_url }}" alt="Image of recipe">
            <!-- If recipe doesn't have an image use alternative -->
            {% else %}
                <img src="{{ url_for('static', filename='/images/recipe_image.jpg') }}" alt="Image of ingredients" class="recipe-img">
            {% endif %}
        </div>
        <!-- Display recipe information -->
        <div class="col s12 m4 content-container recipe-view">
            <h3>{{ recipe.recipe_description }}</h3>
            <div class="content-container">
                <h4><strong>Category: </strong>{{ recipe.category_name }}</h4>
                <h4><strong>Serves: </strong>{{ recipe.servings }}</h4>

                <h4><strong>Free From:</strong>
                    {% for allergen in recipe.allergen_list %}
                    {{ allergen }},
                    {% endfor %}
                </h4>

                <h4><strong>Prep Time: </strong>{{ recipe.prep_time }} minutes</h4>
                <h4><strong>Cook Time:</strong> {{ recipe.cook_time }} minutes</h4>
                <h4><strong>Created By:</strong> {{ recipe.created_by }}</h4>
            </div>
            <div class="content-container">
                <!-- Admin or users that created recipe can edit or delete the recipe -->
                {% if admin or session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                    class="waves-effect waves-light btn-small">Edit</a>
                
                <button data-target="delete-recipe-modal" type="submit" class="waves-effect btn-small delete-btns modal-trigger">Delete</button>
                {% endif %}
                <!-- Logged in users that did not create recipe can add to favourites -->
                    {% if session.user %}
                    {% if session.user != recipe.created_by %}
                        {% if recipe in favourites %}
                            <a href="{{ url_for('remove_favourite', recipe_id=recipe._id) }}" class="waves-effect btn-small delete-btns favourite-view-btns">Remove from Favourites<i class="fa-solid fa-circle-minus"></i></a>
                        {% else %}
                            <a href="{{ url_for('favourite_recipe', recipe_id=recipe._id) }}" class="waves-effect btn-small pink accent-2 favourite-view-btns">Add to Favourites<i class="fa-solid fa-heart"></i></a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <!--Modified from Wanderlust recipes. Full details in README -->
        <div class="col s12 m4 content-container">
            <form method="POST" action="{{ url_for('create_shopping_list', recipe_id=recipe._id) }}">
                <h5>Ingredients</h5>
                <ul id="shopping_list">
                    <!-- Logged in users can add ingredients and save to profile -->
                    <!-- Checkbox capture used from Pretty Pinted, full details in README -->
                    {% for ingredient in recipe.ingredients %}
                    <li class="collection-item">
                        <label>
                            <input type="checkbox" class="filled-in add-shopping-list-item" name="shopping_list" value="{{ ingredient }}">
                            <span>{{ ingredient }}</span>
                        </label>
                    </li>
                    {% endfor %}
                </ul>
                {% if session.user %}
                    <label for="select-all">
                        <input type="checkbox" name="select-all" id="select-all">
                        <span class="select-all">Select all</span>
                    </label>
                <div class="select-all-checkboxes">
                    <button type="submit" id="checkBtn" class="btn">Save to Shopping List</button>
                </div>
                {% endif %}
            </form>
        </div>
        <div class="col s12 m8 content-container">
            <h5>Method</h5>
            <ol>
                {% for step in recipe.method_step %}
                <li>
                    {{ step }}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <!-- End of modified code -->

    <div class="row comments">
        <div class="col s12">
            <!-- Logged in users can leave a comment -->
            {% if session.user %}
            <h5 class="center-align">Leave a comment</h5>
            <form method="POST" action="{{ url_for('create_comment', recipe_id=recipe._id) }}">
                <!-- Radio button rating -->
                <div class="col s12 rating-btns">
                    <p>
                        <label for="1">
                          <input class="with-gap" type="radio" id="1" value="1" name="rating" required/>
                          <span>1</span>
                        </label>
                      </p>
                      <p>
                        <label for="2">
                          <input class="with-gap" type="radio" id="2" value="2" name="rating"/>
                          <span>2</span>
                        </label>
                      </p>
                      <p>
                        <label for="3">
                          <input class="with-gap" type="radio" id="3" value="3" name="rating"/>
                          <span>3</span>
                        </label>
                      </p>
                      <p>
                        <label for="4">
                          <input class="with-gap" type="radio" id="4" value="4" name="rating" />
                          <span>4</span>
                        </label>
                      </p>
                      <p>
                        <label for="5">
                          <input class="with-gap" type="radio" id="5" value="5" name="rating"/>
                          <span>5</span>
                        </label>
                      </p>
                </div>
                <div class="col s12">
                    <input type="text" id="user_comment" name="user_comment" placeholder="Comment here" pattern="^(?!.*[\p{P} ]{3})[a-zA-Z0-9\p{P} ]{2,30}$" class="validate" required>
                    <label for="user_comment" class="sr-only">Comment here</label>
                </div>
                <!-- Submit button -->
                <div class="col s12 center-align">
                    <button type="submit" class="btn">Submit <i class="fa-solid fa-caret-right"></i></button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    <!-- Comments displayed to all users -->
    <div class="row comments">
        <div class="col s12">
            <h5>Comments</h5>
        </div>
        {% for comment in recipe.comments %}
        <div class="col s12">
            <h6><i class="fa-solid fa-user"></i>{{- comment.author -}} </h6>
            <p>
                {% if comment.rating == 5 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                {% elif comment.rating == 4 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                {% elif comment.rating == 3 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                {% elif comment.rating == 2 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                {% elif comment.rating == 1 %}
                <i class="fa-solid fa-star"></i>
                {% endif %}
            </p>
            <p>{{- comment.comment -}}</p>
            <hr class="comment-divider">
        </div>
        {% endfor %}
    </div>
    <div class="row">

        <!-- Deletion confirmation modal from Materialize -->
        <div class="modal" id="delete-recipe-modal">
            <div class="modal-content">
                <h5 id="response-header" class="center-align"><i class="fa-solid fa-circle-exclamation"></i>Are you sure you want to delete your recipe?</h5>
                <div class="center-align"> 
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect btn-small delete-btns">Delete Recipe</a>
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="waves-effect btn-small">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
